h1 {
  text-align: center;
  color: black;
}
h2 {
  text-align: center;
  font-style: italic;
  color: black;
  font-size: 75%
}
p {
  text-align: center;
  font-size: 90%
}
li {
  text-align: center;
  font-size: 140%
}
li {
  text-align: center;
  text: 140%
}
ul {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}
body {
    background-color: white;
    color: blue;
}
img {
  display: block;
  margin: auto;
  width: 70%
}
